<div class="col-12" style="margin:20px">
    Notifications: 
    <div class="row" style="margin:20px">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input col-6" id="blogs" (change)="eventCheckforBlogs($event)"
             [checked]="userData.notifications.blogs == true">
            <label class="custom-control-label col-6" for="blogs">Blogs</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input col-6" id="chats" (change)="eventCheckforChats($event)"
             [checked]="userData.notifications.chats == true">
            <label class="custom-control-label col-6" for="chats">Chats</label>
        </div>
    </div>
    <div>
        <div>
            <button type="submit" class="btn btn-primary" (click)="saveSettings()">Submit</button>
        </div>
    </div>
</div>