

<div>
  <div class="row">
    <span class="col-sm-12">
        <div class="card-body">
            <div class="right-icon-control">
              <input class="form-control search-text" placeholder="Search Hotel or Location"
               id="search-friends" #searchHotels (keyup)="searchHotelsList($event)">
              <div class="form-icon">
                <i class="icofont icofont-search"></i>
              </div>
            </div>
        </div>
    </span>
    <span class="col-sm-12">
        <span *ngFor="let hotel of allHotels">
            <div class="card show" style="width: 23.4rem; margin-right:8px;margin-left:8px">
                <img class="card-img-top" src="{{hotel.image}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{hotel.name}}</h5>
                  <p class="card-text">{{hotel.location}}</p>
                  <a class="btn btn-primary btn-sm btn-block" (click)="openHotelDetails(hotel.id)">Go to page</a>
                </div>
            </div>
        </span>
    </span>
  </div>

  <!-- rightbar chat start -->
  <div [@slideInOut]="verticalPlacement === 'right' ? chatToggleInverse : chatToggle" id="sidebar" class="users p-chat-user">
    <div class="had-container">
      <div class="card card_main p-fixed users-main">
        <div class="user-box" style="margin:5px">
          <div (click)="closeHotelDetails()" style="margin:5px;cursor:pointer">
            Close
          </div>
          
          <img src="{{hotelData.image}}" style="height:180px !important;width:300px !important">
          <div style="margin:5px">
            <span style="float:left;font-weight: bold;">{{hotelData.name}}</span>
            <span style="float:right">{{hotelData.location}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>