<div class="row">
    <span class="col-sm-12">
        <div class="card-body">
            <div class="right-icon-control">
              <input class="form-control search-text" placeholder="Search Univercity" id="search-friends" #searchUnivercities (keyup)="searchUnivercitiesList($event)">
              <div class="form-icon">
                <i class="icofont icofont-search"></i>
              </div>
            </div>
        </div>
    </span>
    <span class="col-sm-12">
        <span *ngFor="let univercity of allUnivercities" load="lazy">
            <div class="card show" style="width: 23.4rem; margin-right:8px;margin-left:8px">
                <img class="card-img-top" src="../../../assets/images/images.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{univercity.name}}</h5>
                  <p class="card-text">{{univercity.country}}</p>
                  <a href="#" class="btn btn-primary btn-sm btn-block">Go to page</a>
                </div>
            </div>
        </span>
    </span>
</div>
