<div>
    <div>
        <button class="btn btn-light" routerLink="/booking/food"><i class="ti-arrow-left"></i> Back</button>
        <span style="float:right"><a class="btn btn-primary btn-sm btn-block" (click)="bookingDetails()">Book({{this.bookings.length}})</a></span>
    </div>
    <div class="row">
        <span class="col-sm-12">
            <div class="card-body">
                <div class="right-icon-control">
                    <input class="form-control search-text" placeholder="Search Food items or by cost" id="search-friends"
                        #searchFoods (keyup)="searchFoodItems($event)">
                    <div class="form-icon">
                        <i class="icofont icofont-search"></i>
                    </div>
                </div>
            </div>
        </span>
        <span class="col-sm-12">
            <span *ngFor="let item of restaurantData.items">
                <div class="card show" style="width: 23.4rem; margin-right:8px;margin-left:8px">
                    <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5><p class="card-title" style="float: right;">cost: {{item.cost}}/-</p>
                        <div class="card-text row">
                           <p class="col-3">Quantity: </p>
                           <input type="number" name="" id="" class="form-control col-2" (keyup)="addingQuantity(item.id,item.quantity)"
                            [(ngModel)]="item.quantity" height="20px" width="50px">
                           <!-- <button class="btn btn-primary btn-sm btn-block col-6" style="width:20px !important" >Add</button> -->
                        </div>
                    </div>
                </div>
            </span>
        </span>
    </div>
    <!-- rightbar chat start -->
  <div [@slideInOut]="verticalPlacement === 'right' ? chatToggleInverse : chatToggle" id="sidebar" class="users p-chat-user"
   style="width:350px !important;overflow-x: hidden;overflow-y:visible">
    <div class="had-container" style="width:350px !important">
      <div class="card card_main p-fixed users-main" style="width:350px !important">
        <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 90px)'" 
           style="overflow-x: visible;overflow-y: visible;margin:5px">
           <div class="user-box">
               <div style="margin:5px;">
                   <i class="ti-close" style='cursor:pointer;' (click)="closeBookingDetails()"></i>
               </div>
               <img src="{{restaurantData.image}}" style="height:180px !important;width:340px !important">
               <div style="margin:5px;" class="row">
                   <div class="col-7" style="font-weight: bold;">{{restaurantData.name}}</div>
                   <div class="col-5"><i class="ti-location-pin"></i> {{restaurantData.location}}</div>
                 </div>
               <div style="font-weight: 600;">
                   Items:
               </div>
               <div style="margin:4px" *ngFor="let item of bookings" class="row">
                   <div class="col-2">{{item.quantity}} X </div>
                   <div class="col-7">{{item.name}}</div>
                   <div class="col-3">{{item.quantity * item.cost}}/-</div>
               </div>
               <div class="row" style="margin:4px">
                   <div class="col-2"></div>
                   <div class="col-7"> &nbsp;CGST:<small>(2%)</small></div>
                   <div class="col-3">{{this.CGST}}/-</div>
               </div>
               <div class="row" style="margin:4px">
                   <div class="col-2"></div>
                   <div class="col-7"> &nbsp;SGST:<small>(5%)</small></div>
                   <div class="col-3">{{this.SGST}}/-</div>
               </div>
               <div class="row" style="margin:4px">
                   <div class="col-2"></div>
                   <div class="col-7"> &nbsp;Service charges:</div>
                   <div class="col-3">{{this.serviceCharges}}/-</div>
               </div>
               <hr>
               <div class="row" style="margin:4px">
                   <div class="col-2"></div>
                   <div class="col-7"> &nbsp;Total Cost:</div>
                   <div class="col-3">{{totalCost}}/-</div>
               </div>
               <hr>
               <div style="font-weight: 600;">
                   Payments:
               </div>
               <div style="margin:5px">
                   <input type="radio" id="upi" name="payments" value="payWithUPI">
                   <label for="upi">&nbsp; Pay with UPI</label><br>
                   <input type="radio" id="debitCard" name="payments" value="payWithDebit">
                   <label for="debitCard">&nbsp; Debit Card</label><br>
                   <input type="radio" id="creditCard" name="payments" value="payWithCredit">
                   <label for="creditCard">&nbsp; Credit Card</label>
               </div>
               <div style="margin-top:5px">
                   <button class="btn btn-primary btn-sm btn-block" (click)="navigateToPaymentGateway()">Pay {{totalCost}}/-</button>
               </div>
           </div>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
</div>